@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

//MEMO 공통 
*{
    padding:0; margin:0;
    font-family: 'Noto Sans KR', sans-serif;
}
li{list-style: none;}
a{text-decoration: none;}
input:focus{outline:none;}

//MEMO 믹스인 
@mixin title(){
    font-size: 50px;
    font-weight: 900;
}
@mixin detail(){
    margin-top:25px;
    font-size:22px;
    font-weight: 400;
    color:#555;
    line-height: 1.5;
}
@mixin roundBtn(){
    cursor:pointer;
    padding:3px 18px;
    background: #F6F6F6;
    border:1px solid #333;
    border-radius: 20px;
    font-size: 14px;
    margin-right:10px;
}

body{
    position: relative;
    //MEMO 헤더 
    .cm{
        cursor:pointer;
        z-index: 120;
        position:fixed;
        left:50%; bottom:15px;
        transform:translateX(-50%);
        font-size:18px;
        text-align:center;
        background:#333;
        border-radius:30px;
        color:#fff;
        padding:17px 100px;
        font-weight:400;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        display:none;
        &:hover{
            background:linear-gradient(to left, #a750f3, #ffeb60);
        }
    }
    header{
        position: fixed;
        left:0; top:0;
        z-index: 100;
        width:100vw;
        height:60px;
        background-color: rgba(167,163,154,0.9);
        border-bottom:1px solid #F6F6F6;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0 2%;
        box-sizing: border-box;
        figure{
            height:40%;
            img{height:100%;}
        }
        .hdmenu{
            display:flex;
            a{
                color:#000;
                &:visited{
                    color:#000;
                }
                div{
                    margin-left:10px;
                    background-color: #ffeb60;
                    padding:9px 20px;
                    border-radius: 30px;
                    font-size: 12px;
                }
            }
        }
        .hdmenu.scrollNav{
            display:flex;
            a{
                color:#fff;
                &:visited{
                    color:#fff;
                }
                div{
                    margin-left:10px;
                    background-color: #000;
                    padding:9px 20px;
                    border-radius: 30px;
                    font-size: 12px;
                }
            }
        }
    }
    //MEMO 메인 
    main{
        //MEMO 배너 
        .banner{
            position: relative;
            width:100vw;
            height:100vh;
            div{
                width:100%;
                height:100%;
                .bg-1{
                    height:60%;
                    background-color: #a7a39a;
                }
                .bg-2{
                    height:40%;
                    background-color: #9f9a8f;
                }
            }
            .bnimg-1{
                position:absolute;
                left:10%; top:15%;
                width:30%;
            }
            .bnimg-2{
                position:absolute;
                right:3%; top:50%;
                transform:translateY(-45%);
                width:55%;
            }
            .bnimg-3{
                position:absolute;
                left:10%; bottom:10%;
                width:10%;
            }
            .bnimg-4{
                position:absolute;
                left:50%; bottom:2%;
                transform: translateX(-50%);
                width:60px;
                animation: scroll 1s infinite;
            }
            @keyframes scroll {
                50%{bottom:4%;}
                100%{bottom:2%;}
            }
        }
        //MEMO 비디오 
        .video{
            width:100vw;
            video{
                width:100%;
                vertical-align: top;
            }
        }
        //MEMO 장점 
        .bestpoint{
            width:100vw;
            box-sizing: border-box;
            background:#F6F6F6;
            padding:100px 10%;
            article{
                text-align: center;
                .title{
                    @include title();
                }
                .detail{
                    @include detail();
                }
            }
            ul{
                margin-top:50px;
                display:flex;
                justify-content: space-between;
                li{
                    width:30%;
                    display:flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width:150px;
                    }
                    p:nth-of-type(1){
                        font-weight: 700;
                        font-size:20px;
                        margin-bottom:20px;
                    }
                    p:nth-of-type(2){
                        text-align: center;
                        font-size:14px;
                        line-height: 1.5;
                        color:#555;
                        font-weight: 400;
                    }
                }
            }
        }
        //MEMO 책보유량 
        .howmany{
            width:100vw;
            box-sizing: border-box;
            background:#ffeb60;
            padding: 100px 10%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .hmcon-1{
                .title{
                    @include title();
                }
                .detail{
                    @include detail();
                }
            }
            .hmcon-2{
                position: relative;
                background:#fff;
                padding:20px 20px 50px 20px;
                margin-right:15%;
                width:350px;
                height:350px;
                display:flex;
                justify-content: center;
                align-items: flex-end;
                border-radius: 30px;
                box-sizing: border-box;
                &::after{
                    content: '';
                    position: absolute;
                    left:50%; bottom:50px;
                    transform: translateX(-50%);
                    display:flex;
                    height:1px;
                    width:280px;
                    background:rgb(172, 172, 172);
                }
                .bar1{
                    position: relative;
                    margin: 0 15px;
                    width:45px;
                    height:20px;
                    background:linear-gradient(to top, rgb(104, 104, 104), rgb(196, 196, 196));
                    border-radius: 10px 10px 0 0;
                    box-shadow: 5px 0px 15px rgba(0,0,0,0.2);
                    p{
                        position: absolute;
                        left:50%; bottom:-30px;
                        transform: translateX(-50%);
                        width:100%;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                .bar2{
                    position: relative;
                    margin: 0 15px;
                    width:45px;
                    height:35px;
                    background:linear-gradient(to top, rgb(197, 167, 115), rgb(243, 226, 185));
                    border-radius: 10px 10px 0 0;
                    box-shadow: 5px 0px 15px rgba(0,0,0,0.2);
                    p{
                        position: absolute;
                        left:50%; bottom:-30px;
                        transform: translateX(-50%);
                        width:100%;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                .bar3{
                    position: relative;
                    margin: 0 15px;
                    width:45px;
                    height:250px;
                    background:linear-gradient(to top, rgb(255, 225, 28), #fff196);
                    border-radius: 10px 10px 0 0;
                    box-shadow: 5px 0px 15px rgba(0,0,0,0.2);
                    p{
                        position: absolute;
                        left:50%; bottom:-30px;
                        transform: translateX(-50%);
                        width:180%;
                        font-size: 14px;
                        text-align: center;
                        font-weight: 900;
                    }
                    
                }
                img{
                    position: absolute;
                    right:-40%; top:20%;
                    width:60%;
                }
            }
        }
        //MEMO 신간 
        .newbook{
            width:100vw;
            box-sizing: border-box;
            background:#F6F6F6;
            padding: 100px 10%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                @include title();
                text-align: center;
            }
            .detail{
                @include detail();
                text-align: center;
            }
            ul{
                margin-top:80px;
                display:flex;
                justify-content: space-between;
                align-items: flex-end;
                li{
                    position: relative;
                    width:20%;
                    margin:0 5px;
                    &:nth-of-type(1)::before{
                        position:absolute;
                        right:5px; top:8%;
                        content:'2권';
                        font-size: 12px;
                        text-align: center;
                        color:#777;
                        z-index: 30;
                    }
                    img{
                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                        border-radius: 0 10px 10px 0;
                        width:100%;
                        vertical-align: top;
                    }
                    .badge{
                        position:absolute;
                        width:30%;
                        right:-3px; top:3%;
                    }
                    .bookdtl{
                        margin-top:15px;
                        padding:0 2px;
                        height:80px;
                        h5{}
                        span{
                            font-size:16px;
                        }
                    }
                }
            }
        }
        //MEMO 베스트셀러 
        .bestseller{
            width:100vw;
            box-sizing: border-box;
            background:#fff;
            padding: 100px 10%;
            .title{
                @include title();
                text-align: center;
            }
            .detail{
                @include detail();
                text-align: center;
            }
            .minititle{
                margin-top:30px;
                font-size:16px;
                color:#777;
                &::after{
                    content:'';
                    display:flex;
                    width:100%;
                    height:1px;
                    background:#333;
                    margin: 10px 0;
                }
            }
            .besttab{
                display:flex;
                justify-content: flex-start;
                align-items: center;
                margin:60px 0 0 0;
                p{
                    cursor:pointer;
                    padding:8px 15px;
                    background: #fff;
                    border:1px solid #333;
                    border-radius: 30px;
                    font-size: 14px;
                    margin-right:10px;
                    text-align: center;
                    &:nth-of-type(1){
                        background:#333;
                        color:white;
                    }
                }
            }
            .bstlist{
                margin-top:15px;
                display:flex;
                justify-content: space-between;
                align-items: flex-end;
                li{
                    position: relative;
                    width:20%;
                    margin:0 5px;
                    &:nth-of-type(1)::before{
                        position:absolute;
                        right:5px; top:8%;
                        content:'2권';
                        font-size: 12px;
                        text-align: center;
                        color:#777;
                        z-index: 30;
                    }
                    img{
                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                        border-radius: 0 10px 10px 0;
                        width:100%;
                        vertical-align: top;
                    }
                    .badge{
                        position:absolute;
                        width:30%;
                        right:-3px; top:3%;
                    }
                    .bookdtl{
                        margin-top:15px;
                        padding:0 2px;
                        height:80px;
                        h5{}
                        span{
                            font-size:16px;
                        }
                    }
                }
            }
            .bst-1{}
            .bst-2{
                display:none;
            }
            .bst-3{
                display:none;
            }
            .bst-4{
                display:none;
            }
            .bst-5{
                display:none;
            }
            .bst-6{
                display:none;
            }
        }
        //MEMO 판타지 로맨스 
        .rofan{
            width:100vw;
            box-sizing: border-box;
            border-top:15px solid #F6F6F6;
            background:#fff;
            padding: 100px 10%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                @include title();
                text-align: center;
            }
            .detail{
                @include detail();
                text-align: center;
            }
            ul{
                margin-top:80px;
                display:flex;
                justify-content: space-between;
                align-items: flex-end;
                li{
                    position: relative;
                    width:20%;
                    margin:0 5px;
                    &:nth-of-type(1)::before{
                        position:absolute;
                        right:5px; top:8%;
                        content:'2권';
                        font-size: 12px;
                        text-align: center;
                        color:#777;
                        z-index: 30;
                    }
                    img{
                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                        border-radius: 0 10px 10px 0;
                        width:100%;
                        vertical-align: top;
                    }
                    .badge{
                        position:absolute;
                        width:30%;
                        right:-3px; top:3%;
                    }
                    .bookdtl{
                        margin-top:15px;
                        padding:0 2px;
                        height:80px;
                        h5{}
                        span{
                            font-size:16px;
                        }
                    }
                }
            }
        }
        //MEMO 소요시간 
        .time{
            width:100vw;
            box-sizing: border-box;
            background:#F6F6F6;
            padding:100px 10% 0;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                @include title();
                text-align: center;
            }
            .detail{
                @include detail();
                text-align: center;
            }
            figure{
                position: relative;
                margin-top:50px;
                img{
                    vertical-align: top;
                    &:nth-of-type(2){
                        position:absolute;
                        left:50%; top:50%;
                        transform: translate(-50%,-50%);
                        width:100%;
                    }
                    &:nth-of-type(3){
                        position:absolute;
                        width:50%;
                        left:-60%; top:10%;
                    }
                    &:nth-of-type(4){
                        position:absolute;
                        width:50%;
                        left:-70%; top:50%;
                    }
                    &:nth-of-type(5){
                        position:absolute;
                        width:50%;
                        right:-60%; top:10%;
                    }
                    &:nth-of-type(6){
                        position:absolute;
                        width:50%;
                        right:-70%; top:50%;
                    }
                }
            }
        }
        //MEMO 책장이미지 
        .bookcase{
            width:100vw;
            box-sizing: border-box;
            border-top:15px solid #fff;
            background:#F6F6F6;
            padding:100px 10%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                @include title();
                text-align: center;
            }
            .detail{
                @include detail();
                text-align: center;
            }
            ul{
                margin-top:50px;
                li{
                    position: relative;
                    display:flex;
                    justify-content: center;
                    align-items: flex-start;
                    img{
                        width:100%;
                    }
                    .case{
                        position:absolute;
                        width:200px;
                    }
                    &:nth-of-type(1) .case{
                        right:5%;
                    }
                    &:nth-of-type(2) .case{
                        left:5%;
                    }
                    &:nth-of-type(3) .case{
                        right:5%;
                    }
                }
            }
        }
        //MEMO 무료구독서비스 
        .free{
            width:100vw;
            box-sizing: border-box;
            background:#ffeb60;
            padding: 100px 10%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .frcon-1{
                .title{
                    @include title();
                }
                .detail{
                    @include detail();
                }
            }
            .frcon-2{
                ul{
                    li{
                        padding:50px 120px;
                        background:#fff;
                        margin:20px;
                        border-radius: 30px;
                        text-align: center;
                        font-weight: 700;
                        font-size:20px;
                        margin-bottom:20px;
                        line-height:1.5;
                    }
                }
            }
        }
        //MEMO 앱 기능 
        .function{
            width:100vw;
            box-sizing: border-box;
            background:#fff;
            nav{
                display:flex;
                justify-content: center;
                div{
                    cursor:pointer;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width:30%;
                    height:100px;
                    border-right:1px solid #F6F6F6;
                    &:nth-of-type(3){
                        border-right:0px;
                    }
                    img{
                        width:8%;
                    }
                    p{
                        font-size:14px;
                        margin-top:10px;
                    }
                    &:nth-of-type(1){
                        background:#F6F6F6;
                    }
                }
            }
            .conall{
                background:#F6F6F6;
                padding:50px 10% 100px;
                display:flex;
                justify-content: space-between;
                div{
                    > img{
                        width:50px;
                        margin:30px 0;
                    }
                    .title{
                        @include title();
                    }
                    .detail{
                        @include detail();
                    }
                }
                .minitab{
                    margin-top:30%;
                    .detail{
                        @include detail();
                    }
                    ul{
                        margin-top:25px;
                        display:flex;
                        justify-content: flex-start;
                        li{
                            @include roundBtn();
                            &:nth-of-type(1){
                                background: #333;
                                color:white;
                            }
                        }
                    }
                }
                .cellphone{
                    position: relative;
                    width:300px;
                    display:flex;
                    justify-content: flex-start;
                    align-items: center;
                    // overflow: hidden;
                    > img{
                        width:100%;
                        border-radius: 50px;
                    }
                    video{
                        width:95%;
                    }
                    .frame{
                        width:105%;
                        position:absolute;
                        left:0; top:0;
                        border-radius: 0px;
                    }
                }
            }
            .con1{
                // display:none;
            }
            .con2{
                display:none;
            }
            .con3{
                display:none;
            }
        }
        //MEMO 구독자 스토리 
        .story{
            width:100vw;
            box-sizing: border-box;
            height:35vw;
            position:relative;
            background:url('../img/review-bg.png') center no-repeat;
            background-size: cover;
            padding: 100px 15%;
            display:flex;
            justify-content: space-between;
            .strcon-1{
                position:absolute;
                left:15%; top:-10%;
                iframe{
                    box-shadow: 0 0 30px rgba(0,0,0,0.2);
                }
                > img{
                    cursor: pointer;
                    position:absolute;
                    left:0; top:0;
                    width:400px;
                }
                .vdobtn{
                    width:60px;
                    position:absolute;
                    left:50%; top:50%;
                    transform:translate(-50%,-50%);
                }
            }
            .strcon-2{
                position:absolute;
                right:15%; top:15%;
                .title{
                    @include title();
                }
                .detail{
                    @include detail();
                }
            }
        }
        //MEMO 질문 
        .faq{
            width:100vw;
            box-sizing: border-box;
            background:#ffeb60;
            padding:0 10% 80px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                @include title();
                margin: 80px 0;
            }
            ul{
                width:80%;
                li{
                    box-shadow: 0 0 20px rgba(0,0,0,0.1);
                    width:100%;
                    background:#fff;
                    padding:20px 30px;
                    margin-bottom:20px;
                    border-radius: 20px;
                    .detailall{
                        display:flex;
                        justify-content: space-between;
                        .detail{
                            font-size:22px;
                            font-weight: 700;
                            color:#333;
                            line-height: 1.5;
                        }
                    }
                    .answer{
                        // display:none;
                        white-space: pre-line;
                        font-size:16px;
                        font-weight:400;
                        color:#777;
                        line-height:1.5;
                        &:before{
                            content:'';
                            display:flex;
                            width:100%;
                            height:1px;
                            background:#333;
                            margin:20px 0;
                        }
                    }
                }
            }
        }
    }
    //MEMO 푸터 
    footer{
        width:100vw;
        box-sizing: border-box;
        background:#fff;
        padding: 30px 5% 80px 5%;
        article{
            h5{
                margin-bottom:30px;
            }
            div{
                font-size:12px;
                color:#999;
                line-height: 2;
                margin: 5px 0;
            }
            .ft-close{
                // display:none;
            }
            ul{
                display:flex;
                justify-content: flex-start;
                margin: 15px 0;
                li{
                    margin-right:20px;
                    font-size: 14px;
                    color:#777;
                }
            }
        }
    }
}


// TODO 반응형 모바일 
@media (min-width:360px) and (max-width:767px){
    body{
        .cm{
            width:60vw;
            padding:17px 0px;
            font-size:14px;
            &:hover{
                background:#333;
            }
        }
        main{
            .banner{
                overflow: hidden;
                div{
                }
                .bnimg-1{
                    width:60%;
                }
                .bnimg-2{
                    width:150%;
                    left:-45%; top:70%;
                }
                .bnimg-3{
                    display:none;
                }
                .bnimg-4{}
            }
            .bestpoint{
                padding:50px 5%;
                article{
                    .title{
                        font-size:30px;
                    }
                    .detail{
                        font-size:16px;
                    }
                }
                ul{
                    flex-direction: column;
                    li{
                        width:100%;
                        margin-bottom:50px;
                        &:last-child{
                            margin-bottom:0px;
                        }
                    }
                }
            }
            .howmany{
                padding: 50px 5%;
                flex-direction: column;
                .hmcon-1{
                    .title{
                        font-size:30px;
                    }
                    .detail{
                        font-size:16px;
                    }
                    text-align: center;
                }
                .hmcon-2{
                    margin-right:0%;
                    margin-top:50px;
                    width:70vw; height:70vw;
                    .bar3{
                        height:95%;
                    }
                    img{
                        left:5%; top:20%;
                    }
                }
            }
            .newbook{
                padding: 50px 5%;
                align-items: flex-start;
                .title{
                    margin:0 auto;
                    font-size:30px;
                }
                .detail{
                    margin:25px auto 0;
                    font-size:16px;
                }
                ul{
                    justify-content: flex-start;
                    margin-top:50px;
                    li{
                        width:28vw;
                    }
                }
            }
            .bestseller{
                padding:50px 5%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .title{
                    margin:0 auto;
                    font-size:30px;
                }
                .detail{
                    margin:25px auto 0;
                    font-size:16px;
                }
                .minititle{
                    width:90vw;
                }
                .besttab{
                    width:100%;
                    justify-content: space-between;
                    margin: 30px 0 0 0;
                    p{
                        padding:5px 12px;
                        margin-right:0px;
                    }
                }
                .bstlist{
                    li{
                        width:28vw;
                    }
                }
            }
            .rofan{
                padding: 50px 5%;
                align-items: flex-start;
                .title{
                    margin:0 auto;
                    font-size:30px;
                }
                .detail{
                    margin:25px auto 0;
                    font-size:16px;
                }
                ul{
                    margin-top:50px;
                    li{
                        width:28vw;
                    }
                }
            }
            .time{
                padding:50px 5% 0;
                .title{
                    margin:0 auto;
                    font-size:30px;
                }
                .detail{
                    margin:25px auto 0;
                    font-size:16px;
                }
                figure{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin-top:300px;
                    img{
                        
                        &:nth-of-type(1){
                            width:70%;
                            z-index:80;
                        }
                        &:nth-of-type(2){
                            width:75%;
                            z-index:81;
                        }
                        &:nth-of-type(3){
                            width:40%;
                            left:10%; top:-60%;
                        }
                        &:nth-of-type(4){
                            width:40%;
                            left:0%; top:-15%;
                        }
                        &:nth-of-type(5){
                            width:40%;
                            right:10%; top:-80%;
                        }
                        &:nth-of-type(6){
                            width:40%;
                            right:0%; top:-30%;
                        }
                    }
                }
            }
            .bookcase{
                padding:50px 0%;
                .title{
                    margin:0 auto;
                    font-size:30px;
                }
                .detail{
                    margin:25px auto 0;
                    font-size:16px;
                }
                ul{
                    li{
                        .case{
                            width:180px;
                        }
                        &:nth-of-type(1) .case{
                            right:0;
                        }
                        &:nth-of-type(2) .case{
                            left:0;
                        }
                        &:nth-of-type(3) .case{
                            right:0;
                        }
                    }
                }
            }
            .free{
                padding:50px 5%;
                flex-direction: column;
                .frcon-1{
                    .title{
                        margin:0 auto;
                        font-size:30px;
                    }
                    .detail{
                        margin:25px auto 0;
                        font-size:16px;
                    }
                    text-align: center;
                }
                .frcon-2{
                    ul{
                        li{
                            margin:20px 0 0 0;
                            font-size:16px;
                            padding:30px 0;
                            width:90vw;
                        }
                    }
                }
            }
            .function{
                nav{
                    justify-content: space-between;
                    div{
                        width:100%;
                        img{
                            width:15%;
                        }
                    }
                }
                .conall{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    div{
                        text-align: center;
                        > img{
                            margin:10px 0;
                        }
                        .title{
                            margin:0 auto;
                            font-size:30px;
                        }
                        .detail{
                            margin:25px auto 0;
                            font-size:16px;
                        }
                    }
                    .minitab{
                        margin-top:20px;
                        .detail{
                            margin:10px auto 0;
                            font-size:16px;
                            padding:0;
                        }
                        ul{
                            margin-top:20px;
                            justify-content: space-between;
                            li{
                                margin:0;
                                padding:3px 18px;
                            }
                        }
                    }
                    .cellphone{
                        width:200px;
                        > img{
                            border-radius: 35px;
                        }
                    }
                }
            }
            .story{
                height:80vh;
                .strcon-1{
                    left:50%; top:-10%;
                    transform: translateX(-50%);
                    iframe{
                        width:400px; height:400px;
                    }
                    > img{
                        width:400px; height:400px;
                    }
                    .vdobtn{
                        width:60px; height:60px;
                    }
                }
                .strcon-2{
                    right:-50%; top:65%;
                    transform: translateX(-50%);
                    text-align: center;
                    width:100%;
                    .title{
                        margin:0 auto;
                        font-size:30px;
                    }
                    .detail{
                        margin:25px auto 0;
                        font-size:16px;
                    }
                }
            }
            .faq{
                padding:50px 5%;
                .title{
                    margin:0 auto 50px;
                    font-size:30px;
                }
                ul{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width:90%;
                    li{
                        padding: 15px 20px;
                        .detailall{
                            .detail{
                                font-size:18px;
                            }
                        }
                        .answer{
                            font-size:14px;
                            &:before{
                                margin:15px 0;
                            }
                        }
                    }
                }
            }
        }
        footer{
            article{
                h5{
                }
                div{
                }
                .ft-close{
                    // display:none;
                }
                ul{
                    display:flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    li{
                        margin-right:10px;
                        margin-bottom:10px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
};

// TODO 반응형 태블릿 
@media (min-width:768px) and (max-width:1200px){
    body{
        .cm{
            width:60vw;
            padding: 17px 0;
        }
        main{
            .banner{
                overflow: hidden;
                height:90vh;
                .bnimg-1{
                    left:8%; top:18%;
                    width:35%;
                }
                .bnimg-2{
                    width:70%;
                }
                .bnimg-3{
                    display:none;
                }
                .bnimg-4{}
            }
            .bestpoint{
                padding:100px 5%;
                ul{
                    li{
                        width:100%;
                        p:nth-of-type(1){
                            font-size:16px;
                        }
                        p:nth-of-type(2){
                            font-size:12px;
                        }
                    }
                }
            }
            .howmany{
                padding: 100px 10%;
                .hmcon-1{
                    .title{
                        font-size:30px;
                    }
                    .detail{
                        font-size:18px;
                    }
                }
                .hmcon-2{
                    width:300px; height:300px;
                    &::after{
                        width:250px;
                    }
                    .bar3{
                        height:95%;
                    }
                    img{
                        right:-45%;
                    }
                }
            }
            .newbook{
                padding: 100px 5%;
                align-items: flex-start;
                .title{
                    margin:0 auto;
                }
                .detail{
                    margin:25px auto 0;
                }
                ul{
                    justify-content: flex-start;
                    li{
                        width:20vw;
                    }
                }
            }
            .bestseller{
                padding:100px 5%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .title{
                    margin:0 auto;
                }
                .detail{
                    margin:25px auto 0;
                }
                .minititle{
                    width:90vw;
                }
                .besttab{
                    width:100%;
                    p{
                        padding:5px 12px;
                        margin-right:10px;
                    }
                }
                .bstlist{
                    li{
                        width:20vw;
                    }
                }
            }
            .rofan{
                padding: 100px 5%;
                align-items: flex-start;
                .title{
                    margin:0 auto;
                }
                .detail{
                    margin:25px auto 0;
                }
                ul{
                    li{
                        width:20vw;
                    }
                }
            }
            .time{
                padding:100px 5% 0;
                figure{
                    img{
                        &:nth-of-type(1){
                            width:40vw;
                        }
                        &:nth-of-type(2){}
                        &:nth-of-type(3){
                            left:-50%; top:10%;
                        }
                        &:nth-of-type(4){
                            left:-60%; top:50%;
                        }
                        &:nth-of-type(5){
                            right:-50%; top:10%;
                        }
                        &:nth-of-type(6){
                            right:-60%; top:50%;
                        }
                    }
                }
            }
            .free{
                padding:100px 10%;
                .frcon-1{
                    .title{
                        font-size:45px;
                    }
                    .detail{
                        font-size:18px;
                    }
                }
                .frcon-2{
                    ul{
                        li{
                            width:35vw;
                            padding:30px 0px;
                            font-size:18px;
                        }
                    }
                }
            }
            .function{
                nav{
                    div{
                        width:100%;
                    }
                }
                .conall{
                    div{
                        > img{}
                    }
                    .minitab{
                        .detail{
                            font-size:18px;
                        }
                    }
                    .cellphone{
                        width:250px;
                    }
                }
            }
            .story{
                height:45vw;
                .strcon-1{
                    iframe{
                        width:40vw; height:40vw;
                    }
                    > img{
                        width:40vw; height:40vw;
                    }
                    .vdobtn{
                        width:50px; height:50px;
                    }
                }
                .strcon-2{
                    right:10%; top:15%;
                    .title{
                        font-size:40px;
                    }
                    .detail{
                        font-size:18px;
                    }
                }
            }
        }
        footer{}
    }
};