@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

body header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 60px;
  background-color: rgba(167, 163, 154, 0.9);
  border-bottom: 1px solid #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header figure {
  height: 40%;
}

body header figure img {
  height: 100%;
}

body header a {
  color: #000;
}

body header a:visited {
  color: #000;
}

body header a div {
  background-color: #ffeb60;
  padding: 9px 25px;
  border-radius: 30px;
  font-size: 12px;
}

body main .banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body main .banner div {
  width: 100%;
  height: 100%;
}

body main .banner div .bg-1 {
  height: 60%;
  background-color: #a7a39a;
}

body main .banner div .bg-2 {
  height: 40%;
  background-color: #9f9a8f;
}

body main .banner .bnimg-1 {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 30%;
}

body main .banner .bnimg-2 {
  position: absolute;
  right: 3%;
  top: 50%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  width: 55%;
}

body main .banner .bnimg-3 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 10%;
}

body main .banner .bnimg-4 {
  position: absolute;
  left: 50%;
  bottom: 2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  -webkit-animation: scroll 1s infinite;
          animation: scroll 1s infinite;
}

@-webkit-keyframes scroll {
  50% {
    bottom: 4%;
  }
  100% {
    bottom: 2%;
  }
}

@keyframes scroll {
  50% {
    bottom: 4%;
  }
  100% {
    bottom: 2%;
  }
}

body main .video {
  width: 100vw;
}

body main .video video {
  width: 100%;
  vertical-align: top;
}

body main .bestpoint {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F6F6F6;
  padding: 100px 10%;
}

body main .bestpoint article {
  text-align: center;
}

body main .bestpoint article .title {
  font-size: 50px;
  font-weight: 900;
}

body main .bestpoint article .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

body main .bestpoint ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .bestpoint ul li {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .bestpoint ul li img {
  width: 150px;
}

body main .bestpoint ul li p:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

body main .bestpoint ul li p:nth-of-type(2) {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  font-weight: 400;
}

body main .howmany {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffeb60;
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .howmany .hmcon-1 .title {
  font-size: 50px;
  font-weight: 900;
}

body main .howmany .hmcon-1 .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

body main .howmany .hmcon-2 {
  position: relative;
  background: #fff;
  padding: 20px 20px 50px 20px;
  margin-right: 15%;
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body main .howmany .hmcon-2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 280px;
  background: #acacac;
}

body main .howmany .hmcon-2 .bar1 {
  position: relative;
  margin: 0 15px;
  width: 45px;
  height: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#686868), to(#c4c4c4));
  background: linear-gradient(to top, #686868, #c4c4c4);
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
}

body main .howmany .hmcon-2 .bar1 p {
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  font-size: 14px;
  text-align: center;
}

body main .howmany .hmcon-2 .bar2 {
  position: relative;
  margin: 0 15px;
  width: 45px;
  height: 35px;
  background: -webkit-gradient(linear, left bottom, left top, from(#c5a773), to(#f3e2b9));
  background: linear-gradient(to top, #c5a773, #f3e2b9);
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
}

body main .howmany .hmcon-2 .bar2 p {
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  font-size: 14px;
  text-align: center;
}

body main .howmany .hmcon-2 .bar3 {
  position: relative;
  margin: 0 15px;
  width: 45px;
  height: 250px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffe11c), to(#fff196));
  background: linear-gradient(to top, #ffe11c, #fff196);
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
}

body main .howmany .hmcon-2 .bar3 p {
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 180%;
  font-size: 14px;
  text-align: center;
  font-weight: 900;
}

body main .howmany .hmcon-2 img {
  position: absolute;
  right: -40%;
  top: 20%;
  width: 60%;
}

body main .newbook {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F6F6F6;
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .newbook .title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

body main .newbook .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  text-align: center;
}

body main .newbook ul {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .newbook ul li {
  position: relative;
  width: 20%;
  margin: 0 5px;
}

body main .newbook ul li:nth-of-type(1)::before {
  position: absolute;
  right: 5px;
  top: 8%;
  content: '2권';
  font-size: 12px;
  text-align: center;
  color: #777;
  z-index: 30;
}

body main .newbook ul li img {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
  width: 100%;
  vertical-align: top;
}

body main .newbook ul li .badge {
  position: absolute;
  width: 30%;
  right: -3px;
  top: 3%;
}

body main .newbook ul li .bookdtl {
  margin-top: 15px;
  padding: 0 2px;
  height: 80px;
}

body main .newbook ul li .bookdtl span {
  font-size: 16px;
}

body main .bestseller {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .bestseller .title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

body main .bestseller .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  text-align: center;
}

body main .bestseller ul {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .bestseller ul li {
  position: relative;
  width: 20%;
  margin: 0 5px;
}

body main .bestseller ul li:nth-of-type(1)::before {
  position: absolute;
  right: 5px;
  top: 8%;
  content: '2권';
  font-size: 12px;
  text-align: center;
  color: #777;
  z-index: 30;
}

body main .bestseller ul li img {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
  width: 100%;
  vertical-align: top;
}

body main .bestseller ul li .badge {
  position: absolute;
  width: 30%;
  right: -3px;
  top: 3%;
}

body main .bestseller ul li .bookdtl {
  margin-top: 15px;
  padding: 0 2px;
  height: 80px;
}

body main .bestseller ul li .bookdtl span {
  font-size: 16px;
}

body main .rofan {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 15px solid #F6F6F6;
  background: #fff;
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .rofan .title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

body main .rofan .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  text-align: center;
}

body main .rofan ul {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .rofan ul li {
  position: relative;
  width: 20%;
  margin: 0 5px;
}

body main .rofan ul li:nth-of-type(1)::before {
  position: absolute;
  right: 5px;
  top: 8%;
  content: '2권';
  font-size: 12px;
  text-align: center;
  color: #777;
  z-index: 30;
}

body main .rofan ul li img {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
  width: 100%;
  vertical-align: top;
}

body main .rofan ul li .badge {
  position: absolute;
  width: 30%;
  right: -3px;
  top: 3%;
}

body main .rofan ul li .bookdtl {
  margin-top: 15px;
  padding: 0 2px;
  height: 80px;
}

body main .rofan ul li .bookdtl span {
  font-size: 16px;
}

body main .time {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F6F6F6;
  padding: 100px 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .time .title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

body main .time .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  text-align: center;
}

body main .time figure {
  position: relative;
  margin-top: 50px;
}

body main .time figure img {
  vertical-align: top;
}

body main .time figure img:nth-of-type(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

body main .time figure img:nth-of-type(3) {
  position: absolute;
  width: 50%;
  left: -60%;
  top: 10%;
}

body main .time figure img:nth-of-type(4) {
  position: absolute;
  width: 50%;
  left: -70%;
  top: 50%;
}

body main .time figure img:nth-of-type(5) {
  position: absolute;
  width: 50%;
  right: -60%;
  top: 10%;
}

body main .time figure img:nth-of-type(6) {
  position: absolute;
  width: 50%;
  right: -70%;
  top: 50%;
}

body main .bookcase {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 15px solid #fff;
  background: #F6F6F6;
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .bookcase .title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}

body main .bookcase .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
  text-align: center;
}

body main .bookcase ul {
  margin-top: 50px;
}

body main .bookcase ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .bookcase ul li img {
  width: 100%;
}

body main .bookcase ul li .case {
  position: absolute;
  width: 200px;
}

body main .bookcase ul li:nth-of-type(1) .case {
  right: 5%;
}

body main .bookcase ul li:nth-of-type(2) .case {
  left: 5%;
}

body main .bookcase ul li:nth-of-type(3) .case {
  right: 5%;
}

body main .free {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffeb60;
  padding: 100px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .free .frcon-1 .title {
  font-size: 50px;
  font-weight: 900;
}

body main .free .frcon-1 .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

body main .free .frcon-2 ul li {
  padding: 50px 120px;
  background: #fff;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

body main .function {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

body main .function nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .function nav div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100px;
  border-right: 1px solid #F6F6F6;
}

body main .function nav div:nth-of-type(3) {
  border-right: 0px;
}

body main .function nav div img {
  width: 8%;
}

body main .function nav div p {
  font-size: 14px;
  margin-top: 10px;
}

body main .function nav div:nth-of-type(1) {
  background: #F6F6F6;
}

body main .function .conall {
  background: #F6F6F6;
  padding: 50px 10% 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .function .conall div > img {
  width: 50px;
  margin: 30px 0;
}

body main .function .conall div .title {
  font-size: 50px;
  font-weight: 900;
}

body main .function .conall div .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

body main .function .conall .minitab {
  margin-top: 70%;
}

body main .function .conall .minitab .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

body main .function .conall .minitab ul {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .function .conall .minitab ul li {
  cursor: pointer;
  padding: 3px 18px;
  background: #F6F6F6;
  border: 1px solid #333;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 10px;
}

body main .function .conall .minitab ul li:nth-of-type(1) {
  background: #333;
  color: white;
}

body main .function .conall .cellphone {
  width: 30%;
}

body main .function .conall .cellphone > img {
  width: 100%;
}

body main .function .con2 {
  display: none;
}

body main .function .con3 {
  display: none;
}

body main .story {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 500px;
  position: relative;
  background: url("../img/review-bg.png") center no-repeat;
  background-size: cover;
  padding: 100px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .story .strcon-1 {
  position: absolute;
  left: 15%;
  top: -10%;
}

body main .story .strcon-2 {
  position: absolute;
  right: 15%;
  top: 15%;
}

body main .story .strcon-2 .title {
  font-size: 50px;
  font-weight: 900;
}

body main .story .strcon-2 .detail {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 400;
  color: #555;
  line-height: 1.5;
}

body main .faq {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffeb60;
  padding: 0 10% 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .faq .title {
  font-size: 50px;
  font-weight: 900;
  margin: 80px 0;
}

body main .faq ul {
  width: 80%;
}

body main .faq ul li {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
}

body main .faq ul li .detailall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .faq ul li .detailall .detail {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  line-height: 1.5;
}

body main .faq ul li .answer {
  white-space: pre-line;
  font-size: 16px;
  font-weight: 400;
  color: #777;
  line-height: 1.5;
}

body main .faq ul li .answer:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  background: #333;
  margin: 20px 0;
}

body footer {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  padding: 30px 5% 80px 5%;
}

body footer article h5 {
  margin-bottom: 30px;
}

body footer article div {
  font-size: 12px;
  color: #999;
  line-height: 2;
  margin: 5px 0;
}

body footer article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px 0;
}

body footer article ul li {
  margin-right: 20px;
  font-size: 14px;
  color: #777;
}
/*# sourceMappingURL=index.css.map */